@import './_var.sass'

$colorGroup: ( 'info': $infoColor, 'warning': $warningColor, 'danger': $dangerColor, 'secondary': $secondaryColor )
@each $name, $color in $colorGroup
  .mask-label-#{$name}
    width: 100%
    padding: 5px
    text-align: center
    color: $color
    border: 1px solid $color
    border-radius: $borderRadius
    background-color: rgba($color, 0.1)
    font-size: 14px

.pharmacy-item
  min-width: 220px

[class*="mask-label-"] + [class*="mask-label-"]
  margin-left: 10px
